.ch_AddToCart {
  padding: 1rem;
  margin: 0 0 1rem;
}

.ch_AddToCart__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.ch_AddToCart__stock {
  display: block;
}

.ch_AddToCart__stockOk {
  color: green;
}

.ch_AddToCart__stockEmpty {
  color: red;
}

.ch_AddToCart__confirmed {
  display: flex;
  align-items: baseline;
  gap: 0.75ch;
}

.ch_AddToCart__confirmed a {
  color: inherit;
}

.ch_AddToCart__confirmedHidden {
  visibility: hidden;
}
