.ch_CheckoutPage {
  padding: 1rem;
}

.ch_CheckoutPage fieldset {
  border: 0;
  border-bottom: 2px solid black;
  padding: 0 0 2rem;
  margin: 0;
}

.ch_CheckoutPage__name {
  display: flex;
  gap: 0 4rem;
  flex-wrap: wrap;
}

.ch_CheckoutPage__buttons {
  margin: 3rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.ch_CheckoutPage__buttons > * {
  flex: 0;
}

.ch_CheckoutPage__label {
  width: 100px;
  display: inline-block;
}

.ch_CheckoutPage__input {
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

.ch_CheckoutPage__input:read-only {
  background-color: rgba(0, 0, 0, 0.05);
}
