@import url("./AddToCart.css");
@import url("./Button.css");
@import url("./CompactHeader.css");
@import url("./LineItem.css");
@import url("./MiniCart.css");
@import url("./Recommendation.css");
@import url("./Recommendations.css");
@import url("./CartPage.css");
@import url("./CheckoutPage.css");
@import url("./ThanksPage.css");

:host {
  --outer-space: 1.5rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
