.ch_LineItem {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.ch_LineItem__image {
  flex-basis: 150px;
  padding-right: 2rem;
}

.ch_LineItem__image img {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.ch_LineItem__details {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.ch_LineItem__name {
  padding-right: 2rem;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
  min-width: 300px;
}

.ch_LineItem__quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.ch_LineItem__price {
  flex-basis: 100px;
  text-align: end;
}

.ch_LineItem__removeIcon {
  width: 33px;
}
