.ch_Recommendation {
  margin: 0;
}

@media (min-width: 500px) and (max-width: 999px) {
  .ch_Recommendation:nth-child(4) {
    display: none;
  }
}

.ch_Recommendation__link {
  text-decoration: none;
  color: black;
}

.ch_Recommendation__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}

.ch_Recommendation__name {
  margin: 1rem 0;
  color: black;
  text-align: center;
  display: block;
}
