@import url("./Header.css");
@import url("./Navigation.css");
@import url("./Footer.css");
@import url("./StorePicker.css");
@import url("./Product.css");
@import url("./Recommendations.css");
@import url("./Recommendation.css");
@import url("./Button.css");
@import url("./Filter.css");
@import url("./CategoryPage.css");
@import url("./StoresPage.css");
@import url("./HomePage.css");

:host {
  --outer-space: 1.5rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.e_Main {
  margin: 0 auto;
  max-width: calc(1000px + var(--outer-space) * 2);
  padding: 0 var(--outer-space);
}

.e_Header {
  height: 166px;
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 0;
  align-items: center;
}

.e_Recommendations {
  height: 480px;
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 2rem;
  align-items: center;
}


.e_Footer {
  height: 274px;
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 2rem;
  align-items: center;
}