@import url("./VariantOption.css");
@import url("./ProductPage.css");

:host {
  --outer-space: 1.5rem;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.e_Recommendations {
  height: 512px;
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 2rem;
  align-items: center;
}